@namespace LionFire.AgUi.Blazor.MudBlazor.Components

<div class="mud-typing-indicator @Class" @attributes="AdditionalAttributes">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>
