html, body {
    font-family: 'Roboto', sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071bc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI5MC4xOCA3NS44MzkyQzI5MS44NzMgNzcuNTM5MSAyOTEuODczIDgwLjI5MjcgMjkwLjE4IDgxLjk5MjZMMjY2LjYwNiA0LjI2NTgyQzI2NS44MTMgMTA1LjA0OCAyNjQuNzE3IDEwNS41MzIgMjYzLjUwNiAxMDUuNTMyQzI2Mi4yOTUgMTA1LjUzMiAyNjEuMTk5IDEwNS4wNDggMjYwLjQwNiAxMDQuMjY2TDIzNi44MzIgODEuOTkyNkMyMzUuMTQgODAuMjkyNyAyMzUuMTQgNzcuNTM5MSAyMzYuODMyIDc1LjgzOTJMMjYwLjQwNiA1Mi4yNjU4QzI2MS4xOTkgNTEuNDgzNyAyNjIuMjk1IDUxIDI2My41MDYgNTFaIiBmaWxsPSIjRkZFQjQ1IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48cGF0aCBkPSJNMjYzLjU4OCA4NC4zNTQyTDI4MS43OTMgNzcuNTU2NkwyODEuNzkzIDc3LjU1NjlMMjgwLjQwNCA3Ny45MDI2TDI2My41ODggODQuMzU0MloiIGZpbGw9IiNGRkE2MzAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjxwYXRoIGQ9Ik0yNjMuNTg4IDg0LjM1NTNMMjgxLjc5MyA3Ny41NTY2TDI2My41ODggOTAuMTUzMkwyNDUuMzg0IDc3LjU1NjZMMjYzLjU4OCA4NC4zNTUzWiIgZmlsbD0iI0UwQUQzOSIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9nPjwvc3ZnPg==) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}

/* MudBlazor layout fixes for full-height chat */
.mud-layout {
    height: 100vh;
}

.mud-main-content {
    display: flex;
    height: 100%;
}
